[Unit]
Description=OTA Update Service
Wants=network-online.target
After=network-online.target

[Service]
User=pi
ExecStart=/home/pi/repos/DielsiGarden/scripts/data_sync.sh
Restart=always

[Install]
WantedBy=multi-user.target