[Unit]
Description=OTA Update Service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/repos/DielsiGarden/scripts/data_sync.sh

[Install]
WantedBy=multi-user.target