[Unit]
Description=OTA Update Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
User=pi
ExecStart=/home/pi/repos/DielsiGarden/scripts/data_sync.sh

[Install]
WantedBy=multi-user.target